* {
  font-family: 'Encode Sans', sans-serif;
}

body {
  background: linear-gradient(120deg, rgb(106, 23, 23), rgb(169, 117, 19));
  margin: 20px;
}

.container {
  background-color: white;
  width: 98%;
  height: 96%;
  position: absolute;
}

.playerone {
  height: 100%;
  width: 50%;
  background-color: rgb(238, 238, 238);
}

.playertwo {
  background-color: white;
}

.newgame{
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttonicon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 220px;
  font-size: 25px;
  letter-spacing: 1px;
}