* {
  font-family: 'Encode Sans', sans-serif;
}

body {
  background: linear-gradient(120deg, rgb(106, 23, 23), rgb(169, 117, 19));
  margin: 20px;
}

.container {
  background-color: white;
  width: 98%;
  height: 96%;
  position: absolute;
  display: flex;
}

.left {
  height: 100%;
  width: 50%;
  background-color: rgb(238, 238, 238);
}

.right {
  background-color: white;
  height: 100%;
  width: 50%;
}

.playerone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.playertwo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.player1 {
  position: absolute;
  top: 150px;
  font-size: 55px;
  color: rgb(69, 69, 69);
  letter-spacing: 6px;
}

.player2 {
  position: absolute;
  top: 150px;
  font-size: 55px;
  color: rgb(69, 69, 69);
  letter-spacing: 6px;
}

.global1 {
  position: absolute;
  top: 180px;
  font-size: 120px;
  color: rgb(235, 156, 11);
}

.containerscore {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex;
  bottom : 50px;
}

.current1 {
  background-color: rgb(106, 23, 23);
  width: 220px;
  height: 150px;
  position: relative;
  top: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current2 {
  background-color: rgb(106, 23, 23);
  width: 220px;
  height: 150px;
  position: relative;
  top: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currenttitle1 {
  font-weight: bold;
  position: absolute;
  top: 1px;
}

.currenttitle2 {
  font-weight: bold;
  position: absolute;
  top: 1px;
}

.score1 {
  color: white;
  font-size: 75px;
}

.score2 {
  color: white;
  font-size: 75px;
}

.rond {
  position: absolute;
  left: 650px;
  top: 230px;
}

.newgame{
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: rgb(79, 79, 79);
}

.buttonicon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 220px;
  font-size: 25px;
  letter-spacing: 1px;
}

.rolldice {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttonroll {
  width: 220px;
  height: 100px;
  margin-bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  letter-spacing: 1px;
}

.hold {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttonhold {
  width: 220px;
  height: 100px;
  margin-bottom: 170px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  font-size: 25px;
  letter-spacing: 1px;
}

.iconhold {
  opacity: 70%;
}