* {
  font-family: 'Encode Sans', sans-serif;
}

body {
  background: linear-gradient(120deg, rgb(106, 23, 23), rgb(169, 117, 19));
  margin: 20px;
}

.container {
  background-color: white;
  width: 98%;
  height: 96%;
  position: absolute;
  display: flex;
}

.left {
  height: 100%;
  width: 50%;
  background-color: white;
  transition: 0.2s ease-out;
}

.right {
  background-color: white;
  height: 100%;
  width: 50%;
  transition: 0.2s ease-out;
}

.playerone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.playertwo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.player1 {
  position: absolute;
  top: 150px;
  font-size: 55px;
  color: rgb(69, 69, 69);
  letter-spacing: 6px;
}

.player2 {
  position: absolute;
  top: 150px;
  font-size: 55px;
  color: rgb(69, 69, 69);
  letter-spacing: 6px;
}

.global1 {
  position: absolute;
  top: 180px;
  font-size: 120px;
  color: rgb(235, 156, 11);
}

.global2 {
  position: absolute;
  top: 180px;
  font-size: 120px;
  color: rgb(235, 156, 11);
}

.containerscore {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex;
  bottom : 50px;
}

.current1 {
  background-color: #FF724C;
  width: 220px;
  height: 150px;
  position: relative;
  top: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current2 {
  background-color: #FF724C;
  width: 220px;
  height: 150px;
  position: relative;
  top: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currenttitle1 {
  font-weight: bold;
  position: absolute;
  top: 1px;
}

.currenttitle2 {
  font-weight: bold;
  position: absolute;
  top: 1px;
}

.score1 {
  color: white;
  font-size: 75px;
}

.score2 {
  color: white;
  font-size: 75px;
}

.rond {
  position: absolute;
  left: 650px;
  top: 230px;
  color: #ee6b50;
  transition: 0.1s ease-out;
}

.dice {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100px;
}

.dice > img {
  width: 150px;
  height: 150px;
}

/*              BOUTONS              */

.newgame {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.rolldice {
  color: red;
  position: absolute;
  left: 50%;
  bottom: 32%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hold {
  color: red;
  position: absolute;
  left: 50%;
  bottom: 22%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

button {
  font-size: 30px;
  border: none;
  background: none;
  color: rgb(69, 69, 69);
}

button:hover {
  font-size: 32px;
  color: black;
}

button:active {
  font-size: 31px;
}

.block {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}